<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website</title>
</head>
<body>
    <header>
        <h1>Hello World</h1>
        <h2>Hello {{ username }} your age is {{ user_age }} you are {{ user_gender }}</h2>
<!--        <h2>{{ 5 * 6 }}</h2>-->
<!--        <h2>Random Number: {{ num }}</h2>-->
<!--    </header>-->

<!--    <footer>-->
<!--        <p>-->
<!--            copyright year {{ cur_year }} Thank you-->
<!--        </p>-->
<!--    </footer>-->
</body>
</html>