#nav-heading {
    color: seashell;
}

.footer-text {
    text-align: center;
}

.jumbotron {
    margin-bottom: 0;
    align: center;
}

.hashtag {
    color: saddlebrown;
}

form {
    margin-bottom: 20px;
}